papers/Chapter_13_Fair_Statistical_Communication_in_HCI.pdf
papers/Extracting_Features_from_Time_Series.pdf
papers/Forecasting_Time_Series_Data_Using_Haar_Discrete_W.pdf
papers/Modern_Statistical_Methods_for_HCI.pdf
papers/SFA_a_symbolic_fourier_approximation.pdf
papers/TEASER_early_and_accurate_TSC.pdf
papers/TEASER_Early_Time_Series_Classification.pdf
MTSC_in_SportData.docx
DATA/data_arrays/index_data.csv
DATA/data_arrays/seq_segmented_labels.csv
DATA/data_arrays/seq_segmented.pkl
DATA/ALT-DATA_std_1160x69.csv
DATA/HR-DATA_std_1160x69.csv
DATA/META-DATA_1160x1.csv
DATA/SPD-DATA_std_1160x69.csv
